:root {
  --button-width: 80px;
  --button-gap: 10px;
  --two-button-width: calc(
    2 * var(--button-width) + var(--button-gap)
  ); /*Take space of two buttons + their gaps*/
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 34);
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}

body > * {
  border-radius: 24px;
}

/*Width is arbitrary since I can't figure out how to adjust its width to the size of the row of buttons*/
#calculator {
  width: 355px;
  background-color: black;
  display: inline-flex;
  flex-flow: column nowrap;
  gap: 20px;
  margin-bottom: 200px;
  padding: 24px;
}

.display {
  padding: 12px;
  background-color: rgb(0, 0, 0);
}

/*display and justify-content are flex & end, because text-align end overflows at the start*/
.screen {
  display: flex;
  word-break: break-all;
  align-items: center;
  text-align: end;
  height: 60px;
  overflow: hidden;
  justify-content: end;
  flex: 1 1 auto;
  color: white;
  font-size: 28px;
}

button {
  border-radius: 50%;
  border: none;
  flex: 0 0 var(--button-width);
  font-size: 32px;
  padding: 20px 0px;
  cursor: pointer;
}

#divide {
  font-size: 36px;
}

.dark-grey {
  background-color: rgb(53, 53, 53);
  color: white;
}

.grey {
  background-color: rgb(165, 165, 165);
}

.orange {
  background-color: orange;
  color: white;
}

.button-panel {
  display: flex;
  flex: 1 1 400px;
  min-width: fit-content;
  flex-flow: column nowrap;
  gap: var(--button-gap);
}

.button-panel > .row {
  min-width: fit-content;
  flex: 1 1 auto;
  display: flex;
  gap: var(--button-gap);
  height: var(--button-width);
}

#row-5 > #zero {
  text-align: start;
  padding-left: 30px;
  border-radius: 50px;
  width: var(--two-button-width);
  flex: 0 0 auto;
}
